# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pt
*.pth

# Training outputs
runs/
training/runs/

# Logs
*.log

# Environment variables
.env
dataset/
dataset/
# Uploads & outputs
backend/uploads/
backend/outputs/
backend/debug_received.jpg
